* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;

}

.header-text {
    text-align: center;
    padding-top: 200px;
}

.header-text h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.header-text p {
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.donate-button {
    background: #FF5959;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.donate {
    text-align: center;
    margin-bottom: 120px;
}

.donate-top {
    padding-top: 100px;
}

.donate-top h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.donate-top p {
    color: gray;
}

.donate-center {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.d-price1,
.d-price3,
.d-price4,
.d-price5 {
    background: #FAFAFA;
    width: 100px;
    padding: 20px 10px;
    margin: 0 10px;
    border-radius: 5px;
}

#d-price2 {
    background: #FFEEEE;
    width: 90px;
    padding: 20px 10px;
    margin: 0 10px;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.d-price1 h4,
.d-price3 h4,
.d-price4 h4,
.d-price5 h4 {
    color: gray;
    font-size: 25px;
    font-weight: bold;
}

#d-price2 h4 {
    color: #FF5959;
    font-size: 25px;
    font-weight: bold;
}

.donate-bottom {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.donate-bottom h6 {
    color: #B3B3B3;
    font-size: 18px;
    border-bottom: 1px solid #DADADA;
    width: 50%;
    padding-bottom: 10px;
}

.donate-btn {
    background: #FF5959;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.donate-plan {
    margin-bottom: 120px;
}

.donate-plan-heading {
    text-align: center;
    margin-bottom: 70px;
}

.donate-plan-heading h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.donate-plan-heading p {
    color: #707070;
    font-size: 18px;
}

.donate-plan-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-plan-body-1 {
    background: rgb(204, 250, 255, 30%);
    padding: 40px 20px 40px 20px;
    border-radius: 3px;
}

.donate-plan-body-1 img,
.donate-plan-body-2 img,
.donate-plan-body-3 img {
    margin-bottom: 15px;
}

.donate-plan-body-1 h1,
.donate-plan-body-2 h1,
.donate-plan-body-3 h1 {
    font-weight: 24px;
    margin-bottom: 15px;
}

.donate-plan-body-1 p,
.donate-plan-body-2 p,
.donate-plan-body-3 p {
    color: #707070;
    font-size: 16px;
}

.donate-plan-body-2 {
    background: rgb(255, 89, 89, 10%);
    padding: 40px 20px 40px 20px;
    border-radius: 3px;
    margin-left: 20px;
}

.donate-plan-body-3 {
    background: rgb(255, 244, 214, 35%);
    padding: 40px 20px 40px 20px;
    border-radius: 3px;
    margin-left: 20px;
}

.why-ab {
    margin-bottom: 100px;
}

.why-ab-heading {
    text-align: center;
    margin-bottom: 70px;
}

.why-ab-heading h1 {
    font-size: 45px;
    font-weight: 700;
}

.why-ab-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purpose-1,
.purpose-2,
.purpose-3,
.purpose-4 {
    width: 250px;
    text-align: center;
    margin-left: 30px;
}

.purpose-1 img,
.purpose-2 img,
.purpose-3 img,
.purpose-4 img {
    width: 100px;
    height: 100px;
    border-bottom: 4px solid orange;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.purpose-1 p,
.purpose-2 p,
.purpose-3 p,
.purpose-4 p {
    color: gray;
}

.update {
    margin-bottom: 100px;
}

.update-heading {
    text-align: center;
    margin-bottom: 50px;
}

.update-heading h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.update-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF4D6;
    padding: 50px 200px;
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

.update-body form {
    position: relative;

}

.update-body form input {
    border: none;
    padding: 15px;
    width: 400px;
    background: #D9D9D9;
    color: #AA9F9F;
    font-size: 16px;
    border-radius: 4px;
}

.update-body button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 15px;
    background: #FF5959;
    color: white;
    font-size: 16px;
}

footer {
    background: #0B0D17;
}

.footer-text {
    text-align: center;
    padding: 40px 0;
}

.footer-text h1 {
    color: #FF5959;
    margin-bottom: 25px;
}

.footer-text p {
    color: #D9DBE1;
}