* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;

}

.header-text {
    text-align: center;
    padding-top: 200px;
}

.header-text h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.header-text p {
    color: white;
    margin-bottom: 20px;
}

.donate-button {
    background: #FF5959;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.donate {
    text-align: center;
    margin-bottom: 30px;
}

.donate-top {
    padding-top: 100px;
}

.donate-top h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.donate-top p {
    color: gray;
}

.donate-center {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.d-price1,
.d-price3,
.d-price4,
.d-price5 {
    background: #FAFAFA;
    width: 100px;
    padding: 20px 10px;
    margin: 0 10px;
    border-radius: 5px;
}

#d-price2 {
    background: #FFEEEE;
    width: 90px;
    padding: 20px 10px;
    margin: 0 10px;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.d-price1 h4,
.d-price3 h4,
.d-price4 h4,
.d-price5 h4 {
    color: gray;
    font-size: 25px;
    font-weight: bold;
}

#d-price2 h4 {
    color: #FF5959;
    font-size: 25px;
    font-weight: bold;
}

.donate-bottom {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.donate-bottom h6 {
    color: #B3B3B3;
    font-size: 18px;
    border-bottom: 1px solid #DADADA;
    width: 50%;
    padding-bottom: 10px;
}

.donate-btn {
    background: #FF5959;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}